{% extends "home.html" %}

{% block css %}
{{ block.super }}
    {% load static %}
 <link rel="stylesheet" type="text/css" href="{% static 'usermanage/login.css' %}"/>
{% endblock css %}



{% block content %}

   <section  style=" background-color: white;">
        <form method="post" action="{% url 'usermanage:signin' %}" id="thisform" style="width:50%;margin:100px;margin-left:300px; background-color: white;">
          {% csrf_token %}
         {{ form.as_p }}
            <input type="submit" value="로그인" />
        </form>

   </section>

{% endblock content %}

