<!DOCTYPE html>
<html lang="en">
<head>

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/base_css.css' %}"/>
{% endblock css %}

    <meta charset="UTF-8">
    <title>{% block title %}hello A_Team{% endblock %}</title>

    {% block login_script %}

    {% endblock login_script %}

</head>
<body>

        <header>
			<div class="logo">
                <a href="/">
				<img src="{% static 'images/logo.png' %}"><!--로고이미지url이 들어갑니다. -->
				</a>
			</div>

			<h1>A_TEAM RESULT</h1>
		</header>

    <div id="sidebar">
        {% block sidebar %}
             <div class="nav">
			<ul>
				<li id="nav1">
					<a href="#">로그인/회원가입</a>
					<div>
						<a href="/">로그인</a>
						<a href="/">회원가입</a>
					</div>
				</li>
				<li id="nav2">
					<a href="/">질병확인하기</a>
				</li>
				<li id="nav3">
					<a href="/">병원 예약하기</a>
				</li>
			</ul>
		</div>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock content %}
    </div>
<!--
<footer>
			Copyright &copy; 2018 A_TEAM RESULT PAGE.
</footer>
-->
</body>
</html>
